Selector.treeName = "analyze/Analysis"
Selector.skimmedTreeName = hwwSkim

HWWSelector.runInfoName = "analyze/RunInfo"

HWWSelector.vrtxCut.nDof = 4.
HWWSelector.vrtxCut.rho = 2.
HWWSelector.vrtxCut.z = 24.

HWWSelector.hltPaths.el = "HLT_Ele10_LW_L1R"
						  "HLT_Ele15_SW_L1R"
						  "HLT_Ele15_SW_CaloEleId_L1R"
						  "HLT_Ele17_SW_CaloEleId_L1R"
						  "HLT_Ele17_SW_TightEleId_L1R"
						  "HLT_Ele17_SW_TighterEleIdIsol_L1R_v2"
						  "HLT_Ele17_SW_TighterEleIdIsol_L1R_v3"
HWWSelector.hltPaths.mu = "HLT_Mu9","HLT_Mu15_v1"

HWWSelector.elWorkingPointFile = "config/elWorkingPoints.txt"
HWWSelector.elTightWorkingPoint = 80
HWWSelector.elLooseWorkingPoint = 80
HWWSelector.elCut.etaSCEbEe = 1.479

HWWSelector.lepCut.Pt = 20
HWWSelector.lepCut.extraPt = 10;
HWWSelector.lepCut.d0PrimaryVertex = 0.02
HWWSelector.lepCut.dZPrimaryVertex = 1.

HWWSelector.jetCut.Dr = 0.3
HWWSelector.jetCut.Pt = 25
HWWSelector.jetCut.Eta = 5
HWWSelector.jetCut.BtagProb = 2.1

HWWSelector.muCut.nMuHits         = 0
HWWSelector.muCut.nMuMatches      = 1
HWWSelector.muCut.nTrackerHits    = 10
HWWSelector.muCut.nPixelHits      = 0
HWWSelector.muCut.nChi2           = 10
HWWSelector.muCut.relPtResolution = 0.1
HWWSelector.muCut.combIso         = 0.15

HWWSelector.muSoftCut.Pt     = 3.
HWWSelector.muSoftCut.HighPt = 20.
HWWSelector.muSoftCut.NotIso = 0.1
