Selector.treeName = "analyze/Analysis"
Selector.skimmedTreeName = hwwSkim

Selector.inputFile = "/Users/ale/work/HWW/test/WW.input"
Selector.outputFile = "output/Test-WW-skimmed.root"
Selector.firstEvent = 0
Selector.nEvents = 0


HWWSelector.elWorkingPointFile = "config/elWorkingPoints.txt"
HWWSelector.elTightWorkingPoint = 80
HWWSelector.elLooseWorkingPoint = 95


HWWSelector.lepCut.Pt = 20
HWWSelector.lepCut.extraPt = 10;
HWWSelector.lepCut.d0PrimaryVertex = 0.02
HWWSelector.lepCut.dZPrimaryVertex = 1.

HWWSelector.jetCut.Dr = 0.3
HWWSelector.jetCut.Pt = 25
HWWSelector.jetCut.BtagProb = 2.1

HWWSelector.muCut.nMuHits         = 0
HWWSelector.muCut.nMuMatches      = 1
HWWSelector.muCut.nTrackerHits    = 10
HWWSelector.muCut.nPixelHits      = 0
HWWSelector.muCut.nChi2           = 10
HWWSelector.muCut.relPtResolution = 0.1
HWWSelector.muCut.combIso         = 0.15

HWWSelector.muSoftCut.Pt     = 3.
HWWSelector.muSoftCut.HighPt = 20.
HWWSelector.muSoftCut.NotIso = 0.1
