Selector.treeName = "analyze/Analysis"
Selector.inputFile = "config/input/TestZjets.input"
Selector.outputFile = "output/Test-skimmed.root"
Selector.firstEvent = 0
Selector.nEvents = 100
Selector.skimmedTreeName = hwwSkim

HWWSelector.elWorkingPointFile = "config/elWorkingPoints.txt"
HWWSelector.elTightWorkingPoint = 80
HWWSelector.elLooseWorkingPoint = 95
HWWSelector.leptonPtCut = 20
HWWSelector.jetPtCut = 30

