UserAnalyzer.treeName = "hwwSkim"
UserAnalyzer.inputFile = "../nTuples/TT.root"
UserAnalyzer.outputFile = "output/TestAnalysis.root"
UserAnalyzer.firstEvent = 0
UserAnalyzer.nEvents = 0


HWWAnalyzer.copyHistograms = "llCounters","eeCounters","emCounters","mmCounters"
$ preselection cuts
HWWAnalyzer.analysisTreeName = "hwwAnalysis"
HWWAnalyzer.higgsMass = 160
HWWAnalyzer.cutFile = "config/HmassCuts.cut"
$HWWAnalyzer.maxD0 = 0.02 
$HWWAnalyzer.maxDz = 1
HWWAnalyzer.minMet = 30
HWWAnalyzer.minMll = 12
HWWAnalyzer.zVetoWidth = 15

HWWAnalyzer.minProjMetLL = 35
HWWAnalyzer.minProjMetEM = 20
